body {
    margin: 0;
}

.title {
    background: #624369;
    color: #e1c7e1;
    text-align: center;
}

.output {
    background: #e9ecef;
    padding: 1em;
}

.background {
    background: url(record.png); 
    /*by default, background-image repeats vertically and horizontally*/
}